<div class="wrapper coloured">
    <div id="social" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_half first">
        <h6 class="title">Social Media</h6>
        <ul class="faico clear">
          <li><a class="faicon-pinterest" href="{{ setting.pinterest }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          <li><a class="faicon-twitter" href="{{ setting.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-instagram" href="{{ setting.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <!-- <li><a class="faicon-google-plus" href=""><i class="fa fa-google-plus"></i></a></li> -->
          <li><a class="faicon-youtube" href="{{ setting.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>

        </ul>
      </div>
      <!-- <div class="one_half">
        <h6 class="title">Newsletter sign-up</h6>
        <form class="clear" method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input type="text" value="" placeholder="Type Email Here&hellip;">
            <button class="fa fa-share" type="submit" title="Submit"><em>Submit</em></button>
          </fieldset>
        </form>
      </div> -->
      <!-- ################################################################################################ -->
    </div>
  </div>

  <div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      
      <div class="one_third">
        <h6 class="title">Способы связи</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            {{ setting.address }}
            </address>
          </li>
          <li><i class="fa fa-phone"></i> {{ setting.number }}</li>
          <li><i class="fa fa-fax"></i> {{ setting.hone_number }}</li>
          <li><i class="fa fa-envelope-o"></i> {{ setting.email }}</li>
        </ul>
      </div>
      
      <!-- ################################################################################################ -->
    </footer>
  </div>