{% extends 'homepage.html' %}
{% load static %}

{% block content %}
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  {% include 'pobabini/headers/baseheaders.html' %}
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="content" > 
      <div id="gallery" >
        <figure>
          <header class="heading"></header>
          <div class="row" style="display: flex; flex-wrap: wrap;">
            {% for item in rows %}

            <div class=".col-3" style="width: 25%; padding: 0 15px;">
              <div class="nospace clear" style="display: flex;">
                <div class="product__item">
                  <div class="product__item__pic set-bg">
                    <img src="{{item.book_img.url}}" style="height: 300px; width: auto;">
                  </div>
                  <div class="product__item__text">
                      <h5 style="text-transform: lowercase; font-family: 'Barlow Condensed';";><a href="{{item.book_pdf.url}}">{{item.name}}</a></h5>
                  </div>
               </div>
              </div>
            </div>
            {% endfor %}

          </div>
         
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% include 'pobabini/footers/basefooters.html' %}
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Авторское право &copy; 2023 - Все права защищены - <a href="https://www.instagram.com/itrun.osh/">It-RUN</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
{% include 'pobabini/scripts/basescripts.html' %}
</body>
{% endblock %}