{% extends 'homepage.html' %}
{% load static %}

{% block content %}
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/images/demo/backgrounds/black.jpg'); height: 1000px;"> 
  {% include 'pobabini/headers/baseheaders.html' %}

  <div id="pageintro" class="hoc clear">
    <article>
      <h2 class="heading">Im Maulida</h2>
      <p>Привет! Меня зовут Маулида, и я веду блог о своей жизни: студенчестве, взрослении и самостоятельной жизни, познании себя. Ценю здоровье и теплое отношение к себе и другим.
        Присоединяйся, если тебе интересны подобные темы!</p>
    </article>
  </div>

</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Cubilia curae proin ligula</h3>
      <p class="nospace">Leo dui a tincidunt euismod tellus vivamus facilisis lectus cursus <a href="#">laoreet auctor</a>.</p>
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-paperclip"></i></a>
          <h6 class="heading">Duis dapibus lacus</h6>
          <p>Eu sem dignissim sed placerat ex rutrum phasellus at rhoncus quam mauris sit amet libero&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-calculator"></i></a>
          <h6 class="heading">Ullamcorper ornare</h6>
          <p>Rhoncus nullam at varius augue nam fringilla nunc ac orci ornare posuere suspendisse dictum lacus&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-pie-chart"></i></a>
          <h6 class="heading">Posuere fusce sit</h6>
          <p>Amet odio sit amet augue pharetra pulvinar at quis justo in lacinia pretium posuere nunc&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-recycle"></i></a>
          <h6 class="heading">Tempus vel risus</h6>
          <p>Mollis lobortis sapien nullam elementum dignissim eleifend nunc lobortis aliquet curabitur&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-code-fork"></i></a>
          <h6 class="heading">Nec ultrices ipsum</h6>
          <p>Maximus ut in semper nibh at mattis condimentum odio dui neque sit amet vulputate arcu vitae nibh&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-cogs"></i></a>
          <h6 class="heading">Fringilla viverra</h6>
          <p>Rutrum in gravida efficitur diam vel porta odio cursus eu aliquam amet nunc interdum malesuada&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper">
  <div class="split clear" style="background-image:url('images/demo/backgrounds/02.png');">
    <section class="box"> 
      <!-- <div class="btmspace-50">
        <p class="nospace"><a href="#">Ipsum primis in faucibus</a></p>
        <h2 class="heading">Quisque venenatis eleifend</h2>
      </div> -->
      <div class="testimonial">
        <figure class="clear"><img src="images/demo/dail.jpg" alt="">
          <figcaption><strong>Монки.Д.Луффи</strong><br>
            <em>Король пиратов</em></figcaption>
        </figure>
        <blockquote>Я отказываюсь от твоего отказа.</blockquote>
      </div>
    </section>
  </div>
</div>
{% include 'pobabini/footers/basefooters.html' %}
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Авторское право &copy; 2023 - Все права защищены - <a href="https://www.instagram.com/itrun.osh/">It-RUN</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
{% include 'pobabini/scripts/basescripts.html' %}
</body>
{% endblock %}